<html>
    <head>
        <title>Trader Control Panel</title>
        <meta charst="en">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script type="text/javascript">
            var ip = '{{ data.hostIP }}';
            var port = '{{ data.hostPort }}';
        </script>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
        
    </head>
    <header>
        <h1>Binance Trader Control Panel</h1>
    </header>
    <body>
        {% block content %}{% endblock content %}
    </body>
    <footer>
    </footer>
</html>